<center>
<h1>Edit family member</h1>

<%= render "form", family_member: @family_member %>

<br>

<div class="d-grid gap-2 d-md-flex justify-content-md-center">
  <%= link_to "To Family members", family_members_path, class: "btn btn-primary" %>
</div>
</center>