<center>
<%= render @family_member %>

<div class="d-grid gap-2 d-md-flex justify-content-center">
  <%= link_to "Edit", edit_family_member_path(@family_member), class: "btn btn-primary" %> 
  <%= link_to "Family members", family_members_path, class: "btn btn-primary" %>
  <% unless @family_member.relationship == "Account Owner" || @family_member.relationship == "Family" %>
    <%= button_to "Delete", @family_member, method: :delete, class: "btn btn-primary mb-3", style:"width:100%", data: { confirm: "Are you sure?" } %>
  <%end%>
</div>
</center>
