<div class="d-flex align-items-center ", style="height: 100%; width: 90%">
  <div class="flex-grow-1" >
    <i class="bi bi-c-circle"></i>
    <%=  Time.now.year%>  Anna Pestova
  </div>
  <div>
    <a href="https://github.com/AnnaPestova1">
      <i class="bi bi-github"></i>
    </a>
  </div>
</div>
